._header-top{
  background: #3D3D3D;
}

._header-bottom{
  background: var(--theme-base-color);
  padding: 18px 0;
}

.header__main-part{
  gap: 44px;
}

div.subtop {
  background: #3D3D3D !important;
 }


.add-announcement{
  display: flex;
  order: 2;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-shrink: 0;
  padding: 18px 25px;
  border-radius: 51px;
  background: linear-gradient(112.48deg, rgb(48, 169, 96) 13.345%,rgb(55, 199, 112) 99.515%);
  transition: .3s;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
}

.add-announcement:hover{
  background: linear-gradient(244.29deg, rgb(55, 199, 113) 4.68%,rgb(55, 199, 112) 85.461%);
  color: rgb(255, 255, 255);
}

.smalls .fix-logo .logo_and_menu-row .logo-row .logo{
  width: 177px;
  height: 54px;
  line-height: 54px;
  padding-left: 0;
}

.subcontent .subbottom .menu .mega-menu table td .wrap>a,
.long_banner .header_wrap:not(.light-menu-color) .logo_and_menu-row .mega-menu table td .wrap>a{
  color: rgb(255, 255, 255) !important;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  text-transform: uppercase;
  padding: 0 28px 0 0;
}


._right-menu{
  display: flex;
  gap: 27px;
}

.logo_and_menu-row .basket-link:not(.has_prices) .title{
  color: rgb(255, 255, 255);
  font-size: 14px !important;
  font-weight: 400;
  line-height: 19px;
  text-transform: inherit;
  letter-spacing: 0;
}

body .basket-link .js-basket-block{
  display: flex !important;
  align-items: center;
}

.logo_and_menu-row .basket-link{
  text-decoration: none;
}

.favorite-icon path,
.compare-icon path{
  stroke: white !important;
  fill: transparent!important;
}

.top-block .header__top-item .svg:not(.svg-inline-icon_discount):not(.downs):not(.svg-inline-down) svg{
  opacity: 1;
}

.top-block .menu>li>a{
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.top-block .menu>li>a:hover{
  opacity: 0.7;
}

.top-block .menu>li>a path{
  fill: white;
}

.top-block .menu>li>a:hover path{
  opacity: 0.7;
}

.auth_wr_inner{
  display: flex;
  align-items: center;
  border-radius: 43px;
  background: rgb(236, 236, 236);
}

.top-block .logo_and_menu-row .wrap_icon.person .personal-link{
  margin: 0;
  font-family: "Open Sans" ,sans-serif;
}

.auth_wr_inner .personal-link{
  display: flex;
  align-items: center;
  padding: 4px 15px;
}

.logo_and_menu-row .wrap_icon .name{
  color: rgb(80, 84, 86);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-transform: initial;
  overflow: initial !important;
}

.auth_wr_inner:hover path{
  fill: rgb(236, 236, 236)!important;
}

.auth_wr_inner:hover .name{
  color: rgb(80, 84, 86) !important;
  opacity: 0.7;
}

.top-block .menu.topest li {
  padding: 12px 0 11px;
}

body .basket-link .js-basket-block{
  margin: 0;
}

.top-block.top-block-v1 {
  border-bottom: none;
}

body .basket-link .js-basket-block .count {
  position: absolute;
  right: 0;
  top: 68%;
  background: #E1E1E1;
  color: #3D3D3D;
  font-size: 13px;
  font-family: "Open Sans" ,sans-serif;
}

.nofollow .svg.inline.big {
  top: -1px;
}

.basket-link:hover .title{
  color: rgba(255, 255, 255, 0.7) !important;
}

.smalls.big_header .header-wrapper.header-v26.fix-logo .subcontent .subbottom .menu .mega-menu table td .wrap>a, .smalls.big_header .header-wrapper.header-v27.fix-logo .subcontent .subbottom .menu .mega-menu table td .wrap>a{
  padding-top: 12px;
}

#mobileheader .mobileheader-v1.mobileheader-v1-custom{
  background: rgb(219, 47, 46);
}

.logo_and_menu-row .wrap_icon .personal-link .name{
  margin: 0;
}

.auth_wr_inner.with_dropdown > .svg.inline {
  right: 15px;
  top: 15px;
}

div.header-v27.new-header .mega-menu table td .wrap > .more-items > span:before {
  content: "...";
  position: absolute;
  left: 1px;
  /* top: -22px; */
  width: 17px;
  height: 11px;
  background: url(/bitrix/templates/aspro_max/images/svg/header_icons.svg) var(--light, -124px -51px) var(--dark, -124px -51px) no-repeat;
}

div.header-v27.new-header .auth_wr_inner {
   background: none;
}

div.header-v27.new-header  .logo_and_menu-row .wrap_icon .name {
  color: white;
}

div.header-v27.new-header .auth_wr_inner:hover .name {
  color: rgba(255, 255, 255, 0.7) !important;

}

div.header-v27.new-header div.auth_wr_inner.with_dropdown i.svg svg use {
  fill: white !important;
}

div.header-v27.new-header .logo_and_menu-row .wrap_icon > *:hover .svg:not(.iconset_icon) svg use {
  fill: rgba(255, 255, 255, 0.7) !important;
}

div.header-v27.new-header .auth_wr_inner.with_dropdown > .svg.inline {
  right: 0;
}

div.header-v27.new-header i.svg.svg-inline-cabinet svg path{
  stroke: white;
}

body header#header div.header-v27.new-header .logo_and_menu-row .wrap_icon > *:hover .svg:not(.iconset_icon) svg path {
  fill: none !important;
  stroke: rgba(255, 255, 255, 0.7) !important;
}

body .mega-menu table .dropdown-menu {
  top: 100%;
}
.header__main-part .wrap_icon .search {
  opacity: 1;
}
.header__main-part .wrap_icon .search svg use {
  fill: #ffffff !important;
}


@media (max-width: 1293px) {
  .auth_wr_inner.with_dropdown > .svg.inline {
    right: 15px;
    top: 10px;
  }
}

@media (max-width: 768px) {
  .auth_wr_inner{
    background: transparent;
  }

  .auth_wr_inner i.svg{
    opacity: 1 !important;
  }

  #mobileheader .right-icons{
    display: flex;
    align-items: center;
  }

  .add-announcement{
    width: 40px;
    height: 40px;
    padding: 0;
  }
}
