._header-top{
  background: #3D3D3D;
}

._header-bottom{
  background: var(--theme-base-color);
  padding: 18px 0;
}

.header__main-part{
  gap: 44px;
}

.add-announcement{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-shrink: 0;
  padding: 18px 25px;
  border-radius: 51px;
  background: linear-gradient(112.48deg, rgb(48, 169, 96) 13.345%,rgb(55, 199, 112) 99.515%);
  transition: .3s;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
}

.add-announcement:hover{
  background: linear-gradient(244.29deg, rgb(55, 199, 113) 4.68%,rgb(55, 199, 112) 85.461%);
  color: rgb(255, 255, 255);
}

.smalls .fix-logo .logo_and_menu-row .logo-row .logo{
  width: 177px;
  height: 54px;
  line-height: 54px;
  padding-left: 0;
}

.subcontent .subbottom .menu .mega-menu table td .wrap>a,
.long_banner .header_wrap:not(.light-menu-color) .logo_and_menu-row .mega-menu table td .wrap>a{
  color: rgb(255, 255, 255) !important;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  text-transform: uppercase;
  padding: 0 28px 0 0;
}


._right-menu{
  display: flex;
  gap: 27px;
}

.logo_and_menu-row .basket-link:not(.has_prices) .title{
  color: rgb(255, 255, 255);
  font-size: 14px !important;
  font-weight: 400;
  line-height: 19px;
  text-transform: inherit;
  letter-spacing: 0;
}

body .basket-link .js-basket-block{
  display: flex !important;
  align-items: center;
}

.logo_and_menu-row .basket-link{
  text-decoration: none;
}

.favorite-icon path,
.compare-icon path{
  stroke: white !important;
  fill: transparent!important;
}

.top-block .header__top-item .svg:not(.svg-inline-icon_discount):not(.downs):not(.svg-inline-down) svg{
  opacity: 1;
}

.top-block .menu>li>a{
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.top-block .menu>li>a:hover{
  opacity: 0.7;
}

.top-block .menu>li>a path{
  fill: white;
}

.top-block .menu>li>a:hover path{
  opacity: 0.7;
}

.auth_wr_inner{
  display: flex;
  align-items: center;
  border-radius: 43px;
  background: rgb(236, 236, 236);
}

.top-block .logo_and_menu-row .wrap_icon.person .personal-link{
  margin: 0;
  font-family: "Open Sans" ,sans-serif;
}

.auth_wr_inner .personal-link{
  display: flex;
  align-items: center;
  padding: 4px 15px;
}

.logo_and_menu-row .wrap_icon .name{
  color: rgb(80, 84, 86);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-transform: initial;
  overflow: initial !important;
}

.auth_wr_inner:hover path{
  fill: rgb(236, 236, 236)!important;
}

.auth_wr_inner:hover .name{
  color: rgb(80, 84, 86) !important;
  opacity: 0.7;
}

.top-block .menu.topest li {
  padding: 12px 0 11px;
}

body .basket-link .js-basket-block{
  margin: 0;
}

body .basket-link .js-basket-block .count {
  position: absolute;
  right: 0;
  top: 68%;
  background: #E1E1E1;
  color: #3D3D3D;
  font-size: 13px;
  font-family: "Open Sans" ,sans-serif;
}

.nofollow .svg.inline.big {
  top: -1px;
}

.basket-link:hover .title{
  color: rgba(255, 255, 255, 0.7) !important;
}

.smalls.big_header .header-wrapper.header-v26.fix-logo .subcontent .subbottom .menu .mega-menu table td .wrap>a, .smalls.big_header .header-wrapper.header-v27.fix-logo .subcontent .subbottom .menu .mega-menu table td .wrap>a{
  padding-top: 12px;
}